.info {
  padding: 50px 0;

  @media (max-width: $tablet-width) {
    padding: 30px 0;
  }

  @media (max-width: $mini-tablet-width) {
    padding: 20px 0;
  }
}

.info__text {
  margin: 0 0 30px;
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    margin: 0 0 20px;
    font-size: 28px;
    line-height: 30px;
  }

  @media (max-width: $mini-tablet-width) {
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (max-width: $mobile-width) {
    font-size: 14px;
    line-height: 20px;
  }
}

.info__title {
  margin: 0;
  display: inline-block;
  font-size: 70px;
  font-weight: bold;
  line-height: 40px;
  text-transform: uppercase;
  color: $sand;

  @media (max-width: $mini-desktop-width) {
    font-size: 55px;
  }

  @media (max-width: $tablet-width) {
    font-size: 34px;
    line-height: 30px;
  }

  @media (max-width: $mini-tablet-width) {
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 24px;
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
    line-height: 20px;
  }
}

.info__description {
  margin: 0 10px;
  padding: 15px;
  display: inline-block;
  font-size: 25px;
  line-height: 30px;
  color: white;
  background-color: grey;

  @media (max-width: $mini-desktop-width) {
    font-size: 20px;
  }

  @media (max-width: $tablet-width) {
    font-size: 17px;
    line-height: 24px;
  }

  @media (max-width: $mini-tablet-width) {
    margin: 0;
    width: auto;
    font-size: 15px;
    line-height: 20px;
  }

  @media (max-width: $mobile-width) {
    padding: 10px;
    font-size: 12px;
    line-height: 18px;
  }
}

.info__list {
  @include list-reset;
  width: 50%;

  @media (max-width: $mini-desktop-width) {
    width: 55%;
  }

  @media (max-width: $mini-tablet-width) {
    width: auto;
  }
}

.info__item {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 240px;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    width: 286px;
    height: 240px;
    background-repeat: no-repeat;

    @media (max-width: $mobile-width) {
      width: 260px;
      height: 220px;
      background-size: contain;
    }
  }

  &--tech::before {
    background-image: url("../img/tech.png");
  }

  &--build {
    padding-right: 60px;
    min-height: 180px;

    @media (max-width: $mobile-width) {
      padding-right: 0;
      min-height: 220px;
    }
  }

  &--build::before {
    right: 0;
    top: -50px;
    background-image: url("../img/build.png");

    @media (max-width: $mobile-width) {
      right: auto;
      left: 0;
      top: 0;
    }
  }

  &--estimate {
    min-height: 200px;
  }

  &--estimate::before {
    background-image: url("../img/estimate.png");
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 10px;
  }
}

.info__item-text {
  margin: 0;
  margin-top: auto;
  position: relative;

  &--build {
    margin-left: auto;

    @media (max-width: $mobile-width) {
      margin-left: 0;
    }
  }

  @media (max-width: $mini-desktop-width) {
    font-size: 14px;
  }
}

.info__wrapper {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $mini-tablet-width) {
    flex-direction: column;
  }
}

.info__form {
  width: 40%;

  @media (max-width: $medium-desktop-width) {
    width: 42%;
  }

  @media (max-width: $mini-desktop-width) {
    width: 43%;
  }

  @media (max-width: $mini-tablet-width) {
    width: 100%;
  }
}
